{% extends "registration/base.html" %}

{% block log_form %}

    {% if validlink %}
        <label class="mb-4">Введіть будь-ласка новий пароль</label>
        <form action="" method="post">
            {% csrf_token %}
            <div class="d-flex">
            <div class="col-6 p-0">
            {{ form.new_password1.errors }}
             <div><label for="id_new_password1">Новий пароль:</label></div>
            <div>{{ form.new_password1 }}</div>
            </div>
            <div class="col-6 ">
            {{ form.new_password2.errors }}
            <label for="id_new_password2">Підтвердіть пароль:</label>
            <div>{{ form.new_password2 }}</div>
                </div>
            </div>
         <input type="submit" class="btn btn-default btn-lg mt-4" value="Змінити пароль"/>

        </form>
    {% else %}
        <h1>Password reset failed</h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password
            reset.</p>
    {% endif %}

{% endblock %}