{% extends "base/base.html" %}
{% load static %}

{% block title %}
    Навчання
{% endblock %}

{% block content %}

    <div class="gsc-column col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-5 px-0">
        <div class="column-inner bg-size-cover container">
            <div class="column-content-inner">
                <header>
                    <div class="widget gsc-heading align-left style-default padding-bottom-20">
                        <h2 class="node__title title"><span><span property="schema:name">Навчання</span></span>
                        </h2>
                        <div class="heading-line"><span class="one"></span><span class="second"></span><span
                                class="three"></span></div>
                    </div>
                </header>
                <div class="gsc-tabs p-0">
                    <div class="tabs_wrapper tabs_horizontal">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#tab-gd92e-1">Навчання</a></li>
                            <li><a data-toggle="tab" href="#tab-gd92e-2">Практика</a></li>
                            <li><a data-toggle="tab" href="#tab-gd92e-3">Програми для студентів</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab-gd92e-1" class="tab-pane fade in active">
                                <article data-history-node-id="24" role="article"
                                         about="/drupal/edmix/business-card-red"
                                         class="node node-detail node--type-portfolio node--promoted node--view-mode-full clearfix">
                                    <div class="post-content p-0 ">
                                        <ul class="font-weight-bold">
                                            <li><a href="{% url "vstup" %}">Освітні програми</a></li>
                                            <li><a href="{% static "docs/Poloz_org_osv_proc-2018.pdf" %}">Про організацію навчального процесу</a></li>
                                            <li><a href="{% url "edu_plan" %}">Навчальні плани</a></li>
                                            <li><a href="{% static "docs/session_2019-20_II.pdf" %}">Перелік іспитів та заліків</a></li>
                                            <li><a href="{% static "docs/session_2019-20_II_ru.pdf" %}">Перечень экзаменов и
                                                                    зачетов, группа "Науки о Земле и преподавание
                                                                    геолого-географических дисциплин</a></li>
                                        </ul>
                                    </div>
                                </article>
                            </div>
                            <div id="tab-gd92e-2" class="tab-pane fade in ">
                                <div id="block-gavias-edmix-content"
                                     class="block block-system block-system-main-block no-title">
                                    <article data-history-node-id="24" role="article"
                                             about="/drupal/edmix/business-card-red"
                                             class="node node-detail node--type-portfolio node--promoted node--view-mode-full clearfix">
                                        <div class="post-content">
                                            <div class="post-block ">
                                                <div class="pretty-letter post-content">
                                                    <p>
                                                        Навчальні та виробничі практики є однією з найважливіших
                                                        складових у системі підготовки фахівців на геологічному
                                                        факультеті, тому їм приділяється велика увага. В системі
                                                        підготовки бакалаврів, спеціалістів та магістрів існують
                                                        наступні види практик.
                                                        Студенти, які навчаються за програмою освітньо-кваліфікаційного
                                                        рівня "Бакалавр" проходять три навчальних та одну переддипломну
                                                        практики:
                                                    </p>
                                                </div>
                                                <ul>
                                                    <li><p><strong>Навчальна геологічна з застосуванням топографічних
                                                        методів</strong>
                                                        Проводиться після весняної сесії на І курсі протягом 5-ти тижнів
                                                        на базі Канівського природного заповідника та на базі СОТ «Мрія»
                                                        (с. Плюти) (топографічна частина). Практика присвячена
                                                        закріпленню загальних геологічних знань та складанню
                                                        топографічної карти окремої ділянки. Відповідає за проведення
                                                        практики кафедра загальної та історичної геології. До
                                                        топографічної частини практики залучаються викладачі кафедри
                                                        геодезії та картографії географічного факультету.</p></li>
                                                    <li><p><strong>Навчальна практика з геологічної зйомки, буріння та
                                                        застосування геофізичних методів</strong>
                                                        Проводиться після весняної сесії на ІІ курсі протягом 5-ти
                                                        тижнів. Бурова частина практики проходить у м. Києві на базі
                                                        профільних галузевих інститутів. Друга частина – в
                                                        Бахчисарайському районі АР Крим, в районі сіл Скалисте,
                                                        Трудолюбівка та Прохолодне. Друга частина практики присвячена
                                                        геологічному картуванню. Відповідає за проведення практики
                                                        кафедра загальної та історичної геології, до проведення практики
                                                        залучаються викладачі з інших кафедр.</p></li>
                                                    <li><p><strong>Навчальна зі спеціальності</strong>
                                                        Проводиться після весняної сесії на ІІІ курсі протягом 3-х
                                                        тижнів для студентів кожної спеціалізації окремо. Для
                                                        спеціалізації «Геологія» практика проводиться в районі середньої
                                                        течії р. Опір (с. Гребенів, Сколівський район, Львівська
                                                        область) для студентів, які спеціалізуються на кафедрі загальної
                                                        та історичної геології, та в районі середньої течії р. Тетерів
                                                        (с. Городське, Коростишівський район, Житомирська область) для
                                                        студентів, які спеціалізуються на кафедрі геології родовищ
                                                        корисних копалин. Для спеціалізації «Геохімія і мінералогія»
                                                        практика проводиться на геологічних об’єктах Північно-Західної
                                                        частини Українського щита в експедиційному режимі. Для
                                                        спеціалізацій «Гідрогеологія» та «Геофізика» – в с. Плюти
                                                        Київської області на базі університетського
                                                        спортивно-оздоровчого табору «Мрія».</p></li>
                                                </ul>
                                                <div class="post-content">
                                                    <div class="mt-3"><h4>Документи</h4></div>
                                                    <div style="border-bottom: 1px solid rgba(0, 0, 0, 0.1);"></div>
                                                    <ul class="font-weight-bold mt-2">
                                                        <li><a href="{% static "docs/pract_napravl.doc" %}">Направлення на практику</a></li>
                                                        <li><a href="{% static "docs/pract_schodennyk.doc" %}">Щоденник практики</a></li>
                                                        <li><a href="{% static "docs/Dogovir_Pidpryemstvo_Shablon.doc" %}">Договір з підприємством на проведення
                                                            практик</a></li>
                                                        <li><a href="{% static "docs/pract_polozhennja.pdf" %}">Положення про проведення практик студентів
                                                            геологічного факультету</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div id="tab-gd92e-3" class="tab-pane fade in ">
                                <div class="widget block gsc-block-view gsc-block-drupal block-view title-align-left text-dark remove-margin-off">
                                    <div class="views-element-container p-0">
                                        <div class="post-content">
                                            <div class="post-block ">
                                                <ul class="font-weight-bold">
                                                    <li><a href="https://students.eage.org/?evp=5095&ActiveMenu=31">EAGE</a></li>
                                                    <li><a  href="https://www.aapg.org/">AAPG</a></li>
                                                    <li><a  href="https://seg.org/Default.aspx?TabId=176&language=en-US">SEG</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}