{% extends "base/base.html" %}

{% block title %}Наукова діяльність{% endblock %}

{% block content %}
    <div class="gsc-column col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-5">
        <div class="column-inner bg-size-cover container">
            <div class="column-content-inner">
                <header>
                    <div class="widget gsc-heading align-left style-default padding-bottom-20">
                        <h2 class="node__title title"><span><span
                                property="schema:name">Наукова діяльність</span></span>
                        </h2>
                        <div class="heading-line"><span class="one"></span><span class="second"></span><span
                                class="three"></span></div>
                    </div>
                </header>
                <div class="gsc-tabs ">
                    <div class="tabs_wrapper tabs_horizontal">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#tab-gd92e-1">Наукова робота</a></li>
                            <li><a data-toggle="tab" href="#tab-gd92e-2">Науково-дослідні лабораторії і сектора</a></li>
                            <li><a data-toggle="tab" href="#tab-gd92e-3">Зовнішні програми, стипендії, гранти, конкурси,
                                інновації</a></li>
                            <li><a data-toggle="tab" href="#tab-gd92e-4">Всеукраїнський конкурс студентських наукових
                                робіт</a></li>
                            <li><a data-toggle="tab" href="#tab-gd92e-5">Бюджетні науково-дослідні теми</a></li>
                            <li><a data-toggle="tab" href="#tab-gd92e-6">Ресурси Київського університету</a></li>
                        </ul>
                        <div class="tab-content px-3">
                            <div id="tab-gd92e-1" class="tab-pane fade in active">
                                <div class="post-content p-0 pretty-letter">
                                    <div class="post-content p-0 ">
                                        <ul class="font-weight-bold">
                                            <li><a href="{% url "phd_learning" %}">Аспірантура і докторантура</a></li>
                                            <li><a href="#">Спеціалізовані ради ННІ "Інститут геології" по захисту
                                                докторських і кандидатських дисертацій</a></li>
                                            <li><a href="#">Науково-виробничі послуги та експертизи</a></li>
                                            <li><a href="#">Розробки ННІ "Інститут геології" (геологічного
                                                факультету)</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div id="tab-gd92e-2" class="tab-pane fade in ">
                                <div class="post-content p-0 pretty-letter">
                                    <div class="post-content p-0 ">
                                        <ul class="font-weight-bold">
                                            <li><a href="#">Науково-дослідний сектор фізико-хімічних досліджень гірських
                                                порід</a></li>
                                            <li><a href="#">Науково-дослідна лабораторія теоретичної та прикладної
                                                геофизики</a></li>
                                            <li><a href="#">Науково-дослідна лабораторія мінералого-геохімічних
                                                досліджень</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div id="tab-gd92e-3" class="tab-pane fade in ">
                                <div class="post-content p-0 pretty-letter">
                                    <div class="post-content p-0 ">
                                        <ul class="font-weight-bold">
                                            <li><a href="#">Стипендії на навчання та дослідження від фонду ім.
                                                Гумбольдта</a></li>
                                            <li><a href="#">Стипендії для індивідуальної мобільності</a></li>
                                            <li><a href="#">Національна мережа трансферу технологій</a></li>
                                            <li><a href="#">Фонди і програми підтримки наукових досліджень</a></li>
                                            <li><a href="#">Стипендіальна програма для студентів «Завтра.UA»</a></li>
                                            <li><a href="#">Інформація Управління з міжнародного науково-технічного
                                                співробітництва та інноваційних технологій</a></li>
                                            <li><a href="#">Бюлетень ІНКОС (інформація про стипендіальні програми для
                                                науковців, аспірантів, магістрів)</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div id="tab-gd92e-4" class="tab-pane fade in ">
                                <div class="post-content p-0 pretty-letter">
                                    <div class="post-content p-0 ">
                                        <ul class="font-weight-bold">
                                            <li><a href="#">Про конкурс</a></li>
                                            <li><a href="#">Положення про проведення конкурсу</a></li>
                                            <li><a href="#">Вимоги до робіт</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div id="tab-gd92e-5" class="tab-pane fade in ">
                                <div class="post-content p-0 ">
                                    <ul class="font-weight-bold">
                                        <li><a href="#">НДР № 18 БП 049-01</a></li>
                                        <li><a href="#">НДР № 16 КП 049-04</a></li>
                                        <li><a href="#">НДР № 16 КП 049-05</a></li>
                                        <li><a href="#">НДР № 16 КП 049-06</a></li>
                                        <li><a href="#">НДР № 16 КП 049-08</a></li>
                                        <li><a href="#">НДР № 16 КП 049-10</a></li>
                                        <li><a href="#">НДР № 19 КП 049-01</a></li>
                                        <li><a href="#">НДР № 19 КП 049-02</a></li>
                                        <li><a href="#">НДР № 19 КП 049-03</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div id="tab-gd92e-6" class="tab-pane fade in ">
                                <div class="post-content p-0 ">
                                    <ul class="font-weight-bold">
                                        <li><a href="#">Сайт "Вісника Київського національного універстету імені Тараса
                                            Шевченка. Геологія"</a></li>
                                        <li><a href="#">Науково-дослідна частина Київського університету</a></li>
                                        <li><a href="#">Науково-консультаційний центр Київського університету</a></li>
                                        <li><a href="#">Наукова бібліотека ім. М.Максимовича</a></li>
                                        <li><a href="#">Електронний каталог періодичних видань</a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}