{% extends "base/base.html" %}
{% load static %}
{% block title %}
    {{ vs.code_id.specialization_id.specialization_name }}
{% endblock %}
{% block content %}

    <div id="content" class="content content-full mt-5">
        <div class="container container-bg">
            <div class="content-main-inner">
                <div class="row">
                    <div class="gav-help-region">
                        <div class="container">
                            <div class="content-inner">
                                <div>
                                    <div data-drupal-messages-fallback="" class="hidden"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="page-main-content" class="main-content col-xs-12 col-md-12 col-lg-8 mt-3">
                        <div class="main-content-inner">
                            <div class="content-main">
                                <div>
                                    <div id="block-gavias-edmix-content"
                                         class="block block-system block-system-main-block no-title">
                                        <div class="content block-content">
                                            <article data-history-node-id="24" role="article"
                                                     about="/drupal/edmix/business-card-red"
                                                     class="node node-detail node--type-portfolio node--promoted node--view-mode-full clearfix">
                                                <div class="post-block portfolio-single">
                                                    <div class="row">
                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="post-thumbnail">
                                                                <div>
                                                                    <div class="post-grid-1 js-view-dom-id-1fa149c0900b31ad0a75c65f550d7aba8c5ef293b4a5e4954e21f6a44b11c6e7">
                                                                        <object>
                                                                            <embed src="{{ vs.edu_plan_id.edu_plan_doc.url }}"
                                                                                   width="100%" height="600"/>
                                                                        </object>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <header>
                                                    <div class="widget gsc-heading align-left style-default">
                                                        <h2 class="node__title title"><span><span
                                                                property="schema:name">  <span>{{ vs.code_id.specialization_id.specialization_name }}</span></span></span>
                                                        </h2>
                                                        <div class="heading-line"><span class="one"></span><span
                                                                class="second"></span><span class="three"></span></div>
                                                    </div>
                                                </header>
                                                <div class="heading-line"></div>
                                                <div class="gsc-tabs ">
                                                    <div class="tabs_wrapper tabs_horizontal my-5">
                                                        <ul class="nav nav-tabs">
                                                            <li class="active"><a data-toggle="tab" href="#tab-gd92e-1">Інформація</a>
                                                            </li>
                                                            <li><a data-toggle="tab" href="#tab-gd922e-2">Предмети для
                                                                вступу</a></li>
                                                            <li><a data-toggle="tab" href="#tab-gd922e-3">Вартість та
                                                                термін навчання</a></li>
                                                        </ul>
                                                        <div class="tab-content px-3">
                                                            <div id="tab-gd92e-1" class="tab-pane fade in active">
                                                                <div class="paragraph">Код</div>
                                                                <div>{{ vs.code_id.specialization_code }}</div>
                                                                <div class="paragraph">Спеціальність/Спеціаліація</div>
                                                                <div>{{ vs.code_id.specialization_id.specialization_name }}</div>
                                                                <div class="paragraph">Форма навчання</div>
                                                                <div>{{ vs.form_education }}</div>
                                                                <div class="paragraph">Освітній рівень</div>
                                                                <div>{{ vs.education_level }}</div>
                                                                <div class="paragraph">Ліцензійний обсяг</div>
                                                                <div>{{ vs.license }}</div>
                                                            </div>
                                                            <div id="tab-gd922e-2" class="tab-pane fade in ">
                                                                <h3 class="pt-5 " style="color: #4582FF; ">Перелік
                                                                    конкурсних предметів (вступних іспитів, творчих
                                                                    конкурсів)</h3>
                                                                <div class="mt-3">
                                                                    {% for subject in vs.subject_id.all %}
                                                                        <div class="paragraph mb-4">{{ subject.subject_name }}</div>
                                                                        <div>1 <span
                                                                                class="mx-5 paragraph">{{ subject.weigth_coef }}</span>Вага
                                                                            предметів сертифікату
                                                                        </div>
                                                                        <div>2 <span
                                                                                class="mx-5 paragraph">{{ subject.min_grade }}</span>Мінімальна
                                                                            кількість балів для допуску до участі в
                                                                            конкурсі або для зарахування
                                                                        </div>
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                            <div id="tab-gd922e-3" class="tab-pane fade in ">
                                                                <h3 class="pt-5 " style="color: #4582FF; ">Вартість і
                                                                    терміни навчання</h3>
                                                                <div class="payment">
                                                                    <div>Денна форма навчання</div>
                                                                    <div class="payment-num">
                                                                        <span>{{ vs.payment }}</span>грн
                                                                    </div>
                                                                    <div>за рік</div>
                                                                    <div class="top-border"></div>
                                                                    <div>Термін навчання: {{ vs.duration_of_study }}роки
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 sidebar sidebar-right theiaStickySidebar p-0">
                        <div>
                            <div class="views-element-container block block-views block-views-blockpost-other-block-1"
                                 id="block-views-block-post-other-block-1">
                                <h2 class="block-title mx-4"><span>Освітні програми</span></h2>
                                <div class="content block-content ">
                                    {% for program in sub1 %}
                                        <div class="gsc-column col-12">
                                            <div class="column-inner bg-size-cover ">
                                                <div class="column-content-inner">
                                                    <div class="gsc-image-content margin-bottom-0 skin-v2">
                                                        <div class="image"><a href="#"><img class="cover"
                                                                                            src="{{ program.code_id.specialization_id.foto.url }}"
                                                                                            alt="Design and renovation"></a>
                                                        </div>
                                                        <div class="content">
                                                            <h4 class="title">{{ program.code_id.specialization_code }} {{ program.code_id.specialization_id.specialization_name }}</h4>
                                                            <div class="desc">
                                                                <span class="font-weight-bold">Бали ЗНО для вступу</span>
                                                                <ul class="font-weight-bold">
                                                                    {% for j in program.subject_id.all %}
                                                                        <li>
                                                                            <span>{{ j.subject_name }}</span>
                                                                            <span>{{ j.min_grade }}</span>
                                                                        </li>
                                                                    {% endfor %}
                                                                </ul>
                                                            </div>
                                                            <div class="action"><a
                                                                    href="{% url "vstup_info" program.code_id.specialization_id.specialization_name %}">Читати
                                                                далі</a></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}

