{% extends "base/base.html" %}
{% block title %} Контакти {% endblock %}
{% block  content %}
    <div id="content" class="content content-full">
        <div class="container-full container-bg">
            <div class="content-main-inner">
                <div class="gav-help-region">
                    <div class="container">
                        <div class="content-inner">
                            <div>
                                <div data-drupal-messages-fallback="" class="hidden"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="page-main-content" class="main-content">
                    <div class="main-content-inner">
                        <div class="content-main">
                            <div>
                                <div id="block-gavias-edmix-content"
                                     class="block block-system block-system-main-block no-title">
                                    <div class="content block-content">
                                        <!-- Start Display article for detail page -->
                                        <article data-history-node-id="72" role="article" typeof="schema:WebPage"
                                                 class="node node--type-page node--view-mode-full">
                                            <div class="node__content clearfix">
                                                <div class="field field--name-field-block-builder field--type-blockbuilder field--label-hidden field__item">
                                                    <div class="gavias-blockbuilder-content">
                                                        <div class="gavias-blockbuilder-content">
                                                            <div class="gbb-row-wrapper">
                                                                <div class=" gbb-row gva-parallax-background bg-size-cover back">
                                                                    <div class="bb-inner default">
                                                                        <div class="bb-container container">
                                                                            <div class="row">
                                                                                <div class="widget gsc-heading align-left style-default padding-bottom-20 padding-top-20 ml-4">
                                                                                    <h2 class="node__title title"><span><span
                                                                                            property="schema:name">Контакти університету</span></span>
                                                                                    </h2>
                                                                                    <div class="heading-line"><span
                                                                                            class="one"></span><span
                                                                                            class="second"></span><span
                                                                                            class="three"></span></div>
                                                                                </div>
                                                                                <div class="row-wrapper clearfix">
                                                                                    <div class="gsc-column col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                                        <div class="column-inner bg-size-cover ">
                                                                                            <div class="column-content-inner">
                                                                                                <div class="social d-flex flex-lg-row align-center">
                                                                                                    <div>
                                                                                                        <a href="https://www.facebook.com/www.geol.univ.kiev.ua/"
                                                                                                           class="facebook"><i
                                                                                                                class="fab  fa-facebook-f "></i></a>
                                                                                                    </div>

                                                                                                    <div>
                                                                                                        <a href="https://twitter.com/kyivuniversity"
                                                                                                           class="twitter"><i
                                                                                                                class="fab  fa-twitter "></i></a>
                                                                                                    </div>
                                                                                                    <div>
                                                                                                        <a href="https://t.me/abit_geologists"
                                                                                                           class="telegram"><i
                                                                                                                class="fab  fa-telegram-plane "></i></a>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="column-content ">
                                                                                                    <div style="max-width: 620px;">
                                                                                                        <p>Whether
                                                                                                            you’re
                                                                                                            looking for
                                                                                                            answers,
                                                                                                            would like
                                                                                                            to solve a
                                                                                                            problem, or
                                                                                                            just want to
                                                                                                            let us know
                                                                                                            how we did,
                                                                                                            you’ll find
                                                                                                            many ways to
                                                                                                            contact us
                                                                                                            right here.
                                                                                                            We’ll help
                                                                                                            you resolve
                                                                                                            your issues
                                                                                                            quickly and
                                                                                                            easily,
                                                                                                            getting you
                                                                                                            back to more
                                                                                                            important
                                                                                                            things.</p>
                                                                                                        <p>Address : PO
                                                                                                            Box 16122
                                                                                                            Collins
                                                                                                            Street West
                                                                                                            &nbsp;Victoria
                                                                                                            8007
                                                                                                            Australia</p>
                                                                                                        <p>Phone : +61 3
                                                                                                            8376
                                                                                                            6284</p>
                                                                                                        <p>Fax : +61 3
                                                                                                            8376
                                                                                                            6284</p>
                                                                                                        <p>&nbsp;</p>
                                                                                                        <p>
                                                                                                            <a class="btn-theme"
                                                                                                               href="#">Drop
                                                                                                                a
                                                                                                                line</a>
                                                                                                        </p>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}