{% extends "base/aside.html" %}
{% load static %}

{% block title %}
    Про інститут
{% endblock %}

{% block aside %}
    <div id="page-main-content" class="main-content  col-lg-8 col-xs-12 col-md-12 p-0">
        <div class="main-content-inner">
            <div class="content-main">
                <div>
                    <header>
                        <div class="container">
                            <div class="widget gsc-heading align-left style-default padding-bottom-20">
                                <h2 class="node__title title"><span><span
                                        property="schema:name">Про інститут Геології</span></span>
                                </h2>
                                <div class="heading-line"><span class="one"></span><span
                                        class="second"></span><span class="three"></span></div>
                            </div>
                        </div>
                    </header>
                    <div id="block-gavias-edmix-content"
                         class="block block-system block-system-main-block no-title">
                        <div class="content block-content">
                            <div class="views-element-container">
                                <div class="post-style-list ">
                                    <div class="item-list px-4">
                                        <div class="pretty-letter"><p>Серед природничих наук
                                            геологія посідає особливе місце, оскільки вивчає
                                            будову і розвиток нашої спільної оселі – планети
                                            Земля, її походження, мінеральні багатства,
                                            екологічні аспекти надро- і природокористування.
                                            Величезне значення для повсякденного життя
                                            суспільства мають питання інженерної геології,
                                            водозабезпечення наших селищ і міст, передбачення
                                            землетрусів та інших небезпечних явищ. Це зумовлює
                                            широке коло питань, які розв’язує геологія,
                                            розмаїття наукових дисциплін і методів геологічних
                                            досліджень.</p></div>
                                        <div><strong>Геологічний факультет</strong> Київського
                                            університету заснований у 1944 році. Серед
                                            випускників факультету чимало вчених-геологів зі
                                            світовим визнанням – десятки академіків,
                                            членів-кореспондентів, докторів наук, лауреатів
                                            Державної премії та Тараса Шевченка, заслужені діячі
                                            науки і техніки, відкривачі цілої низки великих
                                            родовищ корисних копалин.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}